<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ImobiliariaLayout}">
	
<head>
	<title>Usuários</title>
</head>

<section layout:fragment="content">
	<div th:replace="MensagemGeral"></div>	

	<div class="panel panel-default">
	  	<div class="panel-heading">
	  		<div class="clearfix">
				<h1 class="panel-title gft-title-panel">Usuários</h1>
				<a class="btn btn-link gft-link-panel" href="/usuarios/novo">Novo usuário</a>
			</div>
		</div>
			
		<div class="panel-body">
		
			<div class="row" th:object="${filter}">
					
				<div class="col-lg-8">	
					<form method="GET" class="form-horizontal" action="/usuarios">							
						<div class="form-group">		
							<div class="col-sm-6">
								<div class="input-group">
									<input class="form-control" placeholder="Qual usuário você está procurando?"
									autofocus="autofocus" th:field="*{text}">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</form>
				</div>
							
			</div>
			
			<div class="table-responsive">
				<table class="table table-bordered table-striped align-middle">
					<thead>
						<tr>
							<th id="id-header" class="text-center col-md-1">#</th>
							<th id="name-header" class="text-center col-md-2">Nome</th>
							<th id="city-header" class="text-center col-md-2">email</th>			
							<th class="col-md-2 text-center">Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario, count : ${usuarios}">
							<td class="text-center" th:text="${count.index+1}"></td>
							<td class="text-center" th:text="${usuario.name}"></td>
							<td class="text-center" th:text="${usuario.email}"></td>
							<td class="text-center" th:if="${usuario.name != 'admin'}">
								<a class="btn btn-link btn-xs" th:href="@{/usuarios/{id}(id=${usuario.id})}"
										title="Enviar email" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-envelope"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmarExclusaoModal"
									th:attr="data-id=${usuario.id}, data-description=${usuario.name},
											data-url='usuarios'"
									title="Excluir" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						<tr>
							<td colspan="10" th:if="${#lists.isEmpty(usuarios)}">Nenhum usuário foi encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div th:replace="ConfirmarExclusao"></div>
		
	</div>
</section>
</html>
