<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ImobiliariaLayout}">
	
<head>
	<title>Cadastro de Município</title>
</head>


<section layout:fragment="content">
	<form class="form-horizontal" method="GET" action="/estados/novo">
	
		<div th:replace="MensagemGeral"></div>			
		
		<div class="panel panel-default">
			<div class="panel-heading">
		  		<div class="clearfix">
					<h1 class="panel-title gft-title-panel">Novo município</h1>
					<a class="btn btn-link gft-link-panel" href="/municipios">Voltar para pesquisa</a>
				</div>
			</div>
			
  			<div class="panel-body">
  				
  				<div class="col-sm-6 control-label gft-state-error">
  					<span>Não existe nenhum estado cadastrado</span>
  				</div> 				

  				<div class="form-group">
  					<div class="col-sm-offset-2 col-sm-10">
  						<button type="submit" class="btn btn-primary">Cadastrar Novo Estado</button>
  					</div>
  				</div>
  			</div>
		</div>
	</form>	
</section>
</html>
